.field-width-label {
    label {
        color: #565C65;
        font-weight: bold;
        line-height: 1.5rem;
    }
    .value {
        font-size: 18px;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
}