.wellness-chart {
    position: relative;
    .flex {
        gap: 0
    }
    .chart-title {
        margin-top: 20px;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
    }
    .absolute {
        position: absolute;    
        margin: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text-center {
            font-size: 1.75rem;
            font-weight: bold;
        }
    }
    .donut-legend {
        text-align: left;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        span {
            align-self: center;
            line-height: 0;
        }
    }
    .text-sm {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .outer-dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }
    .donut-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        &-container {
            align-items: center;
        }
    }
}
.center-flex {
    justify-content: center;
    div {
        width: fit-content;
    }
}